@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using MlgStore.WebUI.Areas.Admin.Models;
@model ProductIndexViewModel
<h1>SEPETİM</h1>
<div class="container">

    <div class="row">

        @foreach (var item in Model.Products)
        {
            <div class="col">

                <div>
                    <p>@item.ProductName</p>
                </div>

            </div>
        }
       
    </div>

</div>

@section styles{

}

@section scripts{

}