@using MlgStore.WebUI.Models.Entities;
@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@{
    var jsonStr = Context.Session.GetString("LoggedCustomerUser");
    Customer user = new Customer();
    if (jsonStr != null)
    {
        user = JsonConvert.DeserializeObject<Customer>(jsonStr);
    }

}

<!DOCTYPE html>
<html lang="tr">
<head>
    <title>MLG | Store</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">



    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/Anonymous/images/icons/favicon.png" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Anonymous/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Anonymous/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Anonymous/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Anonymous/fonts/linearicons-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Anonymous/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Anonymous/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Anonymous/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Anonymous/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Anonymous/vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Anonymous/css/util.css">
    <link rel="stylesheet" type="text/css" href="/Anonymous/css/main.css">
    <!--===============================================================================================-->
    <link href="~/admin/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" />




    @RenderSection("styles",false)
</head>
<body class="animsition">

    <!-- Header -->
    <header class="header-v4">
        <!-- Header desktop -->
        <div class="container-menu-desktop">
            <!-- Topbar -->
            <div class="top-bar">
                <div class="content-topbar flex-sb-m h-full container">
                    <div class="left-top-bar">
                        100 TL üstü ücretsiz kargo.
                    </div>

                    <div class="right-top-bar flex-w h-full">
                                              
                        <a href="#" class="flex-c-m trans-04 p-lr-25">
                            TR
                        </a>

                        <a href="#" class="flex-c-m trans-04 p-lr-25">
                            TL
                        </a>
                    </div>
                </div>
            </div>

            <div class="wrap-menu-desktop how-shadow1">
                <nav class="limiter-menu-desktop container">

                    <!-- Logo desktop -->
                    <a href="/Home/Index" class="logo">
                        <h4><strong>MLG|</strong>Store</h4>
                    </a>

                    <!-- Menu desktop -->
                    <div class="menu-desktop">
                        <ul class="main-menu">
                            <li>
                                <a href="#">Ürünlerimiz</a>
                                <ul class="sub-menu">
                                    <li><a href="/WomanClothes/Index">Kadın Giyim</a></li>
                                    <li><a href="/ManClothes/Index">Erkek Giyim</a></li>
                                    <li><a href="/WomanShoes/Index">Kadın Ayakkabı</a></li>
                                    <li><a href="/ManShoes/Index">Erkek Ayakkabı</a></li>
                                    <li><a href="/SmartWatches/Index">Akıllı Saatler</a></li>
                                    <li><a href="/WomanWatches/Index">Kadın Saat</a></li>
                                    <li><a href="/ManWatches/Index">Erkek Saat</a></li>
                                    <li><a href="/WomanJewelry/Index">Kadın Takı</a></li>
                                    <li><a href="/ManJewelry/Index">Erkek Takı</a></li>
                                    <li><a href="/AllBags/Index">Çanta</a></li>
                                </ul>
                            </li>

                            <li>
                                <a href="#">Kategoriler</a>
                                <ul class="sub-menu">
                                    <li class="p-b-10">
                                        <a href="/AllClothes/Index" class="stext-107 cl7 hov-cl1 trans-04">
                                            Giyim
                                        </a>
                                    </li>

                                    <li class="p-b-10">
                                        <a href="/AllShoes/Index" class="stext-107 cl7 hov-cl1 trans-04">
                                            Ayakkabı
                                        </a>
                                    </li>

                                    <li class="p-b-10">
                                        <a href="/AllWatches/Index" class="stext-107 cl7 hov-cl1 trans-04">
                                            Saat
                                        </a>
                                    </li>

                                    <li class="p-b-10">
                                        <a href="/AllJewelry/Index" class="stext-107 cl7 hov-cl1 trans-04">
                                            Takı
                                        </a>
                                    </li>

                                    <li class="p-b-10">
                                        <a href="/AllBags/Index" class="stext-107 cl7 hov-cl1 trans-04">
                                            Çanta
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li>
                                <a href="/About/Index">Hakkımızda</a>
                            </li>

                            <li>
                                <a href="/Contact/Index">İletişim</a>
                            </li>

                            <li>
                                <a id="logincengo1" href="/CustomerAuthentication/Index">Giriş/Yeni Üye</a>
                                <a id="kullanıcıAdi" href="#"><strong>@($"KULLANICI : {user.FirstName}")</strong></a>
                            </li>                            

                        </ul>
                    </div>

                    <!-- Icon header -->
                    
                </nav>
            </div>
        </div>

        <!-- Header Mobile -->
        


        <!-- Menu Mobile -->
       

        <!-- Modal Search -->
        
    </header>

    <!-- Cart -->
    



    @RenderBody();



    <!-- Footer -->
    <footer class="bg3 p-t-75 p-b-32">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-3 p-b-50">
                    <h4 class="stext-301 cl0 p-b-30">
                        Kategoriler
                    </h4>

                    <ul>
                        <li class="p-b-10">
                            <a href="/AllClothes/Index" class="stext-107 cl7 hov-cl1 trans-04">
                                Giyim
                            </a>
                        </li>

                        <li class="p-b-10">
                            <a href="/AllShoes/Index" class="stext-107 cl7 hov-cl1 trans-04">
                                Ayakkabı
                            </a>
                        </li>

                        <li class="p-b-10">
                            <a href="/AllWatches/Index" class="stext-107 cl7 hov-cl1 trans-04">
                                Saat
                            </a>
                        </li>

                        <li class="p-b-10">
                            <a href="/AllJewelry/Index" class="stext-107 cl7 hov-cl1 trans-04">
                                Takı
                            </a>
                        </li>

                        <li class="p-b-10">
                            <a href="/AllBags/Index" class="stext-107 cl7 hov-cl1 trans-04">
                                Çanta
                            </a>
                        </li>
                    </ul>
                </div>


            </div>

            <div class="p-t-40">
                <div class="flex-c-m flex-w p-b-18">
                    <a href="#" class="m-all-1">
                        <img src="/Anonymous/images/icons/icon-pay-01.png" alt="ICON-PAY">
                    </a>

                    <a href="#" class="m-all-1">
                        <img src="/Anonymous/images/icons/icon-pay-02.png" alt="ICON-PAY">
                    </a>

                    <a href="#" class="m-all-1">
                        <img src="/Anonymous/images/icons/icon-pay-03.png" alt="ICON-PAY">
                    </a>

                    <a href="#" class="m-all-1">
                        <img src="/Anonymous/images/icons/icon-pay-04.png" alt="ICON-PAY">
                    </a>

                    <a href="#" class="m-all-1">
                        <img src="/Anonymous/images/icons/icon-pay-05.png" alt="ICON-PAY">
                    </a>
                </div>

                <p class="stext-107 cl6 txt-center">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> Bütün Hakları Saklıdır. | Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://mlgstore.com" target="_blank">Colorlib</a> &amp; distributed by <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

                </p>
            </div>
        </div>
    </footer>


    <!-- Back to top -->
    <div class="btn-back-to-top" id="myBtn">
        <span class="symbol-btn-back-to-top">
            <i class="zmdi zmdi-chevron-up"></i>
        </span>
    </div>



    <!--===============================================================================================-->
    <script src="/Anonymous/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="/Anonymous/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->

    <script src="/Anonymous/vendor/bootstrap/js/popper.js"></script>
    <script src="/Anonymous/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/admin/plugins/sweetalert2/sweetalert2.min.js"></script>
    <!--===============================================================================================-->
    <script src="/Anonymous/vendor/select2/select2.min.js"></script>
    <script>
        $(".js-select2").each(function () {
            $(this).select2({
                minimumResultsForSearch: 20,
                dropdownParent: $(this).next('.dropDownSelect2')
            });
        })
    </script>
    <!--===============================================================================================-->
    <script src="/Anonymous/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
    <!--===============================================================================================-->
    <script src="/Anonymous/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script>
        $('.js-pscroll').each(function () {
            $(this).css('position', 'relative');
            $(this).css('overflow', 'hidden');
            var ps = new PerfectScrollbar(this, {
                wheelSpeed: 1,
                scrollingThreshold: 1000,
                wheelPropagation: false,
            });

            $(window).on('resize', function () {
                ps.update();
            })
        });
    </script>
    <!--===============================================================================================-->
    <!--===============================================================================================-->
    <script src="/Anonymous/js/main.js"></script>

    <script>

        $(document).ready(function () {
            $.ajax({

                url: "/Home/HideAndShowWithLogIn",
                success: function (response) {
                    if (response.isSuccess) {

                        $("#logincengo1").hide();
                        $("#kullanıcıAdi").show();
                        


                    }
                    else {
                        $("#kullanıcıAdi").hide();
                        
                    }
                }

            });

        });

    </script>


    <script>

        $(document).ready(function () {
            $(".addToCart").on('click', function () {

                var Id = $(this).attr('id');

                $.ajax({

                    url: "/Home/HideAndShowWithLogIn",
                    success: function (response) {
                        if (response.isSuccess) {


                            $.ajax({

                                url: "https://localhost:44360/Cart/BuyProduct",
                                method: "post",
                                data: { Id: Id },
                                success: function (response)
                                {
                                    if(response.isSuccess)
                                    {
                                        Swal.fire
                                        ({

                                            icon: 'success',
                                            title: 'Başarılı',
                                            text: 'Ürün Satın Alma Başarılı'

                                        });

                                        
                                    }
                                    else
                                    {
                                        Swal.fire
                                        ({

                                            icon: 'danger',
                                            title: 'Başarısız',
                                            text: 'Bir Hata Oluştu.'

                                        });
                                    }
                                   
                                }

                            });





                        }
                        else {


                            Swal.fire
                            ({

                                icon: 'error',
                                title: 'İşlem Başarısız',
                                text: 'Ürün Satın Almadan Önce Giriş Yapmalı Veya Üye Olmalısınız!'

                            });



                        }
                    }

                });


            });

        });


    </script>






    @RenderSection("scripts",false)
</body>
</html>