@{
	Layout = "/Views/Shared/_Layout.cshtml";
}



<!-- Slider -->
<section class="section-slide">
	<div class="wrap-slick1 rs2-slick1">
		<div class="slick1">
			<div class="item-slick1 bg-overlay1" style="background-image: url(/Anonymous/images/slide-05.jpg);" data-thumb="/Anonymous/images/thumb-01.jpg" data-caption="Kadın Giyim">
				<div class="container h-full">
					<div class="flex-col-c-m h-full p-t-100 p-b-60 respon5">
						<div class="layer-slick1 animated visible-false" data-appear="fadeInDown" data-delay="0">
							<span class="ltext-202 txt-center cl0 respon2">
								Kadın Giyim
							</span>
						</div>

						<div class="layer-slick1 animated visible-false" data-appear="fadeInUp" data-delay="800">
							<h2 class="ltext-104 txt-center cl0 p-t-22 p-b-40 respon1">
								Modayı Yakalayın
							</h2>
						</div>
						
					</div>
				</div>
			</div>

			<div class="item-slick1 bg-overlay1" style="background-image: url(/Anonymous/images/slide-06.jpg);" data-thumb="/Anonymous/images/thumb-02.jpg" data-caption="Erkek Giyim">
				<div class="container h-full">
					<div class="flex-col-c-m h-full p-t-100 p-b-60 respon5">
						<div class="layer-slick1 animated visible-false" data-appear="rollIn" data-delay="0">
							<span class="ltext-202 txt-center cl0 respon2">
								Erkek Giyim
							</span>
						</div>

						<div class="layer-slick1 animated visible-false" data-appear="lightSpeedIn" data-delay="800">
							<h2 class="ltext-104 txt-center cl0 p-t-22 p-b-40 respon1">
								Yeni Tarzınızı Oluşturun
							</h2>
						</div>
						
					</div>
				</div>
			</div>

			
		</div>

		<div class="wrap-slick1-dots p-lr-10"></div>
	</div>
</section>


<!-- Banner -->
<div class="sec-banner bg0 p-t-95 p-b-55">
	<div class="container">
		<div class="row">
			<div class="col-md-6 p-b-30 m-lr-auto">
				<!-- Block1 -->
				<div class="block1 wrap-pic-w">
					<img src="/Anonymous/images/banner-04.jpg" alt="IMG-BANNER">

					<a href="/AllWomanProducts/Index" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
						<div class="block1-txt-child1 flex-col-l">
							<span class="block1-name ltext-102 trans-04 p-b-8">
								Kadın
							</span>

							<span class="block1-info stext-102 trans-04">
								Yeni Trend
							</span>
						</div>

						<div class="block1-txt-child2 p-b-4 trans-05">
							<div class="block1-link stext-101 cl0 trans-09">
								Alışverişe Başla
							</div>
						</div>
					</a>
				</div>
			</div>

			<div class="col-md-6 p-b-30 m-lr-auto">
				<!-- Block1 -->
				<div class="block1 wrap-pic-w">
					<img src="/Anonymous/images/banner-05.jpg" alt="IMG-BANNER">

					<a href="product.html" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
						<div class="block1-txt-child1 flex-col-l">
							<span class="block1-name ltext-102 trans-04 p-b-8">
								Erkek
							</span>

							<span class="block1-info stext-102 trans-04">
								Yeni Trend
							</span>
						</div>

						<div class="block1-txt-child2 p-b-4 trans-05">
							<div class="block1-link stext-101 cl0 trans-09">
								Alışverişe Başla
							</div>
						</div>
					</a>
				</div>
			</div>

			<div class="col-md-6 col-lg-3 p-b-30 m-lr-auto">
				<!-- Block1 -->
				<div class="block1 wrap-pic-w">
					<img src="/Anonymous/images/banner-07.jpg" alt="IMG-BANNER">

					<a href="product.html" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
						<div class="block1-txt-child1 flex-col-l">
							<span class="block1-name ltext-102 trans-04 p-b-8">
								Saat
							</span>

							@*<span class="block1-info stext-102 trans-04">
								Spring 2018
							</span>*@
						</div>

						<div class="block1-txt-child2 p-b-4 trans-05">
							<div class="block1-link stext-101 cl0 trans-09">
								Alışverişe Başla
							</div>
						</div>
					</a>
				</div>
			</div>

			<div class="col-md-6 col-lg-3 p-b-30 m-lr-auto">
				<!-- Block1 -->
				<div class="block1 wrap-pic-w">
					<img src="/Anonymous/images/banner-08.jpg" alt="IMG-BANNER">

					<a href="product.html" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
						<div class="block1-txt-child1 flex-col-l">
							<span class="block1-name ltext-102 trans-04 p-b-8">
								Çanta
							</span>

							@*<span class="block1-info stext-102 trans-04">
								Spring 2018
							</span>*@
						</div>

						<div class="block1-txt-child2 p-b-4 trans-05">
							<div class="block1-link stext-101 cl0 trans-09">
								Alışverişe Başla
							</div>
						</div>
					</a>
				</div>
			</div>

			<div class="col-md-6 col-lg-3 p-b-30 m-lr-auto">
				<!-- Block1 -->
				<div class="block1 wrap-pic-w">
					<img src="/Anonymous/images/banner-09.jpg" alt="IMG-BANNER">

					<a href="product.html" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
						<div class="block1-txt-child1 flex-col-l">
							<span class="block1-name ltext-102 trans-04 p-b-8">
								Takı
							</span>

							@*<span class="block1-info stext-102 trans-04">
								Spring 2018
							</span>*@
						</div>

						<div class="block1-txt-child2 p-b-4 trans-05">
							<div class="block1-link stext-101 cl0 trans-09">
								Alışverişe Başla
							</div>
						</div>
					</a>
				</div>
			</div>

			<div class="col-md-6 col-lg-3 p-b-30 m-lr-auto">
				<!-- Block1 -->
				<div class="block1 wrap-pic-w">
					<img src="~/anonymous/images/product-09.jpg" alt="IMG-BANNER" style="height:174px"/>

					<a href="product.html" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
						<div class="block1-txt-child1 flex-col-l">
							<span class="block1-name ltext-102 trans-04 p-b-8">
								Ayakkabı
							</span>

							@*<span class="block1-info stext-102 trans-04">
								Spring 2018
							</span>*@
						</div>

						<div class="block1-txt-child2 p-b-4 trans-05">
							<div class="block1-link stext-101 cl0 trans-09">
								Alışverişe Başla
							</div>
						</div>
					</a>
				</div>
			</div>

		</div>
	</div>
</div>

<!-- Product -->




@section styles
{

	
}




@section scripts
{	
	<script>

		$(document).ready(function ()
		{


			



		
		
		});

		

	</script>
}
