@{
	Layout = null;
}
@using MlgStore.WebUI.Models.Entities;
@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@{
	var jsonStr = Context.Session.GetString("LoggedCustomerUser");
	Customer user = new Customer();
	if(jsonStr != null)
	{
		user = JsonConvert.DeserializeObject<Customer>(jsonStr);
	}
		
}





<!DOCTYPE html>
<html lang="tr">
<head>
	<title>MLG | Store</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="/Anonymous/images/icons/favicon.png" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/Anonymous/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/Anonymous/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/Anonymous/fonts/iconic/css/material-design-iconic-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/Anonymous/fonts/linearicons-v1.0.0/icon-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/Anonymous/vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/Anonymous/vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/Anonymous/vendor/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/Anonymous/vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/Anonymous/vendor/daterangepicker/daterangepicker.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/Anonymous/vendor/slick/slick.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/Anonymous/vendor/MagnificPopup/magnific-popup.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/Anonymous/vendor/perfect-scrollbar/perfect-scrollbar.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/Anonymous/css/util.css">
	<link rel="stylesheet" type="text/css" href="/Anonymous/css/main.css">
	<!--===============================================================================================-->

	


</head>
<body class="animsition">

	<!-- Header -->
	<header class="header-v3">
		<!-- Header desktop -->
		<div class="container-menu-desktop trans-03">
			<div class="wrap-menu-desktop">
				<nav class="limiter-menu-desktop p-l-45">

					<!-- Logo desktop -->
					<a href="#" class="logo">
						<h4><strong>MLG|</strong>Store</h4>
					</a>
					
					<!-- Menu desktop -->
					<div class="menu-desktop">
						<ul class="main-menu">
							<li>
								<a href="#">Ürünlerimiz</a>
								<ul class="sub-menu">
									<li><a href="/WomanClothes/Index">Kadın Giyim</a></li>
									<li><a href="/ManClothes/Index">Erkek Giyim</a></li>
									<li><a href="/WomanShoes/Index">Kadın Ayakkabı</a></li>
									<li><a href="/ManShoes/Index">Erkek Ayakkabı</a></li>
									<li><a href="/SmartWatches/Index">Akıllı Saatler</a></li>
									<li><a href="/WomanWatches/Index">Kadın Saat</a></li>
									<li><a href="/ManWatches/Index">Erkek Saat</a></li>
									<li><a href="/WomanJewelry/Index">Kadın Takı</a></li>
									<li><a href="/ManJewelry/Index">Erkek Takı</a></li>
									<li><a href="/AllBags/Index">Çanta</a></li>
								</ul>
							</li>

							<li>
								<a href="#">Kategoriler</a>
								<ul class="sub-menu">
									<li class="p-b-10">
										<a href="/AllClothes/Index" class="stext-107 cl7 hov-cl1 trans-04">
											Giyim
										</a>
									</li>

									<li class="p-b-10">
										<a href="/AllShoes/Index" class="stext-107 cl7 hov-cl1 trans-04">
											Ayakkabı
										</a>
									</li>

									<li class="p-b-10">
										<a href="/AllWatches/Index" class="stext-107 cl7 hov-cl1 trans-04">
											Saat
										</a>
									</li>

									<li class="p-b-10">
										<a href="/AllJewelry/Index" class="stext-107 cl7 hov-cl1 trans-04">
											Takı
										</a>
									</li>

									<li class="p-b-10">
										<a href="/AllBags/Index" class="stext-107 cl7 hov-cl1 trans-04">
											Çanta
										</a>
									</li>
								</ul>
							</li>							

							<li>
								<a href="/About/Index">Hakkımızda</a>
							</li>

							<li>
								<a href="/Contact/Index">İletişim</a>
							</li>

							<li>
								<a id="logincengo2" href="/CustomerAuthentication/Index">Giriş/Yeni Üye</a>
								<a id="kullanıcıAdi" href="#"><strong>@($"KULLANICI : {user.FirstName}")</strong></a>
							</li>

						</ul>
					</div>

					<!-- Icon header -->
					
				</nav>
			</div>
		</div>

		<!-- Header Mobile -->
		


		<!-- Menu Mobile -->
		

		<!-- Modal Search -->
		
	</header>


	<!-- Sidebar -->
	

	<!-- Cart -->
	


	<!-- Slider -->
	<section class="section-slide">
		<div class="wrap-slick1 rs2-slick1">
			<div class="slick1">
				<div class="item-slick1 bg-overlay1" style="background-image: url(/Anonymous/images/slide-05.jpg);" data-thumb="/Anonymous/images/thumb-01.jpg" data-caption="Kadın Giyim">
					<div class="container h-full">
						<div class="flex-col-c-m h-full p-t-100 p-b-60 respon5">
							<div class="layer-slick1 animated visible-false" data-appear="fadeInDown" data-delay="0">
								<span class="ltext-202 txt-center cl0 respon2">
									Kadın Giyim
								</span>
							</div>

							<div class="layer-slick1 animated visible-false" data-appear="fadeInUp" data-delay="800">
								<h2 class="ltext-104 txt-center cl0 p-t-22 p-b-40 respon1">
									Modayı Yakalayın
								</h2>
							</div>

						</div>
					</div>
				</div>

				<div class="item-slick1 bg-overlay1" style="background-image: url(/Anonymous/images/slide-06.jpg);" data-thumb="/Anonymous/images/thumb-02.jpg" data-caption="Erkek Giyim">
					<div class="container h-full">
						<div class="flex-col-c-m h-full p-t-100 p-b-60 respon5">
							<div class="layer-slick1 animated visible-false" data-appear="rollIn" data-delay="0">
								<span class="ltext-202 txt-center cl0 respon2">
									Erkek Giyim
								</span>
							</div>

							<div class="layer-slick1 animated visible-false" data-appear="lightSpeedIn" data-delay="800">
								<h2 class="ltext-104 txt-center cl0 p-t-22 p-b-40 respon1">
									Yeni Tarzınızı Oluşturun
								</h2>
							</div>

						</div>
					</div>
				</div>


			</div>

			<div class="wrap-slick1-dots p-lr-10"></div>
		</div>
	</section>


	<!-- Banner -->
	<div class="sec-banner bg0 p-t-95 p-b-55">
		<div class="container">
			<div class="row">
				<div class="col-md-6 p-b-30 m-lr-auto">
					<!-- Block1 -->
					<div class="block1 wrap-pic-w">
						<img src="/Anonymous/images/banner-04.jpg" alt="IMG-BANNER">

						<a href="/AllWomanProducts/Index" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
							<div class="block1-txt-child1 flex-col-l">
								<span class="block1-name ltext-102 trans-04 p-b-8">
									Kadın
								</span>

								<span class="block1-info stext-102 trans-04">
									Yeni Trend
								</span>
							</div>

							<div class="block1-txt-child2 p-b-4 trans-05">
								<div class="block1-link stext-101 cl0 trans-09">
									Alışverişe Başla
								</div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-6 p-b-30 m-lr-auto">
					<!-- Block1 -->
					<div class="block1 wrap-pic-w">
						<img src="/Anonymous/images/banner-05.jpg" alt="IMG-BANNER">

						<a href="/AllManProducts/Index" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
							<div class="block1-txt-child1 flex-col-l">
								<span class="block1-name ltext-102 trans-04 p-b-8">
									Erkek
								</span>

								<span class="block1-info stext-102 trans-04">
									Yeni Trend
								</span>
							</div>

							<div class="block1-txt-child2 p-b-4 trans-05">
								<div class="block1-link stext-101 cl0 trans-09">
									Alışverişe Başla
								</div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-6 col-lg-3 p-b-30 m-lr-auto">
					<!-- Block1 -->
					<div class="block1 wrap-pic-w">
						<img src="/Anonymous/images/banner-07.jpg" alt="IMG-BANNER">

						<a href="/AllWatches/Index" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
							<div class="block1-txt-child1 flex-col-l">
								<span class="block1-name ltext-102 trans-04 p-b-8">
									Saat
								</span>

								@*<span class="block1-info stext-102 trans-04">
								Spring 2018
								</span>*@
							</div>

							<div class="block1-txt-child2 p-b-4 trans-05">
								<div class="block1-link stext-101 cl0 trans-09">
									Alışverişe Başla
								</div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-6 col-lg-3 p-b-30 m-lr-auto">
					<!-- Block1 -->
					<div class="block1 wrap-pic-w">
						<img src="/Anonymous/images/banner-08.jpg" alt="IMG-BANNER">

						<a href="/AllBags/Index" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
							<div class="block1-txt-child1 flex-col-l">
								<span class="block1-name ltext-102 trans-04 p-b-8">
									Çanta
								</span>

								@*<span class="block1-info stext-102 trans-04">
								Spring 2018
								</span>*@
							</div>

							<div class="block1-txt-child2 p-b-4 trans-05">
								<div class="block1-link stext-101 cl0 trans-09">
									Alışverişe Başla
								</div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-6 col-lg-3 p-b-30 m-lr-auto">
					<!-- Block1 -->
					<div class="block1 wrap-pic-w">
						<img src="/Anonymous/images/banner-09.jpg" alt="IMG-BANNER">

						<a href="/AllJewelry/Index" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
							<div class="block1-txt-child1 flex-col-l">
								<span class="block1-name ltext-102 trans-04 p-b-8">
									Takı
								</span>

								@*<span class="block1-info stext-102 trans-04">
								Spring 2018
								</span>*@
							</div>

							<div class="block1-txt-child2 p-b-4 trans-05">
								<div class="block1-link stext-101 cl0 trans-09">
									Alışverişe Başla
								</div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-6 col-lg-3 p-b-30 m-lr-auto">
					<!-- Block1 -->
					<div class="block1 wrap-pic-w">
						<img src="~/anonymous/images/product-09.jpg" alt="IMG-BANNER" style="height:174px" />

						<a href="/AllShoes/Index" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
							<div class="block1-txt-child1 flex-col-l">
								<span class="block1-name ltext-102 trans-04 p-b-8">
									Ayakkabı
								</span>

								@*<span class="block1-info stext-102 trans-04">
								Spring 2018
								</span>*@
							</div>

							<div class="block1-txt-child2 p-b-4 trans-05">
								<div class="block1-link stext-101 cl0 trans-09">
									Alışverişe Başla
								</div>
							</div>
						</a>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- Product -->
	<!-- Footer -->
	<footer class="bg3 p-t-75 p-b-32">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Kategoriler
					</h4>

					<ul>
						<li class="p-b-10">
							<a href="/AllClothes/Index" class="stext-107 cl7 hov-cl1 trans-04">
								Giyim
							</a>
						</li>

						<li class="p-b-10">
							<a href="/AllShoes/Index" class="stext-107 cl7 hov-cl1 trans-04">
								Ayakkabı
							</a>
						</li>

						<li class="p-b-10">
							<a href="/AllWatches/Index" class="stext-107 cl7 hov-cl1 trans-04">
								Saat
							</a>
						</li>

						<li class="p-b-10">
							<a href="/AllJewelry/Index" class="stext-107 cl7 hov-cl1 trans-04">
								Takı
							</a>
						</li>

						<li class="p-b-10">
							<a href="/AllBags/Index" class="stext-107 cl7 hov-cl1 trans-04">
								Çanta
							</a>
						</li>
					</ul>
				</div>


			</div>

			<div class="p-t-40">
				<div class="flex-c-m flex-w p-b-18">
					<a href="#" class="m-all-1">
						<img src="/Anonymous/images/icons/icon-pay-01.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="/Anonymous/images/icons/icon-pay-02.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="/Anonymous/images/icons/icon-pay-03.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="/Anonymous/images/icons/icon-pay-04.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="/Anonymous/images/icons/icon-pay-05.png" alt="ICON-PAY">
					</a>
				</div>

				<p class="stext-107 cl6 txt-center">
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					Copyright &copy;<script>document.write(new Date().getFullYear());</script> Bütün Hakları Saklıdır. | Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://mlgstore.com" target="_blank">Colorlib</a> &amp; distributed by <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

				</p>
			</div>
		</div>
	</footer>


	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

	<!-- Modal1 -->
	

	<!--===============================================================================================-->
	<script src="/Anonymous/vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="/Anonymous/vendor/animsition/js/animsition.min.js"></script>
	<!--===============================================================================================-->
	<script src="/Anonymous/vendor/bootstrap/js/popper.js"></script>
	<script src="/Anonymous/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="/Anonymous/vendor/select2/select2.min.js"></script>

	<!--===============================================================================================-->
	<script src="/Anonymous/vendor/daterangepicker/moment.min.js"></script>
	<script src="/Anonymous/vendor/daterangepicker/daterangepicker.js"></script>
	<!--===============================================================================================-->
	<script src="/Anonymous/vendor/slick/slick.min.js"></script>
	<script src="/Anonymous/js/slick-custom.js"></script>
	<!--===============================================================================================-->
	

	<script src="/Anonymous/vendor/parallax100/parallax100.js"></script>
	<script>
		$('.parallax100').parallax100();
	</script>
	<!--===============================================================================================-->
	<script src="/Anonymous/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
	<script>
		$('.gallery-lb').each(function () { // the containers for all your galleries
			$(this).magnificPopup({
				delegate: 'a', // the selector for gallery item
				type: 'image',
				gallery: {
					enabled: true
				},
				mainClass: 'mfp-fade'
			});
		});
	</script>
	<!--===============================================================================================-->
	<script src="/Anonymous/vendor/isotope/isotope.pkgd.min.js"></script>
	<!--===============================================================================================-->
	<script src="/Anonymous/vendor/sweetalert/sweetalert.min.js"></script>

	<!--===============================================================================================-->
	<script src="/Anonymous/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function () {
			$(this).css('position', 'relative');
			$(this).css('overflow', 'hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function () {
				ps.update();
			})
		});
	</script>
	<!--===============================================================================================-->
	<script src="/Anonymous/js/main.js"></script>

	<script>
		
		$(document).ready(function () 
		{
			$.ajax({

				url: "/Home/HideAndShowWithLogIn",
				success: function (response) {
					if (response.isSuccess) 
					{

						$("#logincengo2").hide();
						$("#kullanıcıAdi").show();

					}
					else 
					{
						$("#kullanıcıAdi").hide();
					}
				}

			});
		
		});

	</script>
	
	

</body>
</html>







